footer {
    .card();
    width: 74%;
    margin: 0 auto;
    margin-top: 5%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @media  (min-width: @desktop) {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
}

.social {
    display: flex;
    justify-content: space-around;
    i {
        display: block;
        font-size: 4rem;
    }
    margin-bottom: 5%;
    @media (min-width: @desktop) {
        width: 27.5%;
        justify-content: space-between;
    }
}