footer {
    .card();
    width: 74%;
    margin: 0 auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @media  (min-width: @desktop) {
        width: 50%;
    }
}

.social {
    display: flex;
    justify-content: space-around;
    i {
        display: block;
        font-size: 4rem;
    }
    margin-bottom: 5%;
}