body, html {
    height: 100%;
    background-color: @background-color;

    font-family: 'Open Sans', sans-serif;


}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: @primary;
}
h3 {
    color: @secondary;
}

p {
    color: @secondary;
}

.container {
    margin-left: 7%;
    margin-right: 7%;
}

.card {
    background-color:#bebebe;    ;
    border-radius: .5rem;
    padding: 5%;
    margin-bottom: 5%;
}